.input {
    background: #FFFFFF;
    border: 1px solid #E9EEF2;
    box-sizing: border-box;
    border-radius: 6px;
    width: 500px;
    height: 54px;
    top: 22%;
    left: 50px;
    position: absolute;
    padding: 4% 5%;

}

.input:focus {
    outline: none;

}

.buttonContainer {
    top: 30%;
    left: 50px;
    position: absolute;
    width: 500px;

}

.button {
    width: 17%;
    height: 40px;
    border-radius: 8px;
    border: none;

    font-size: 1.1rem;
    font-weight: 600;
    margin: 1% 0;

}



.formContainer {
    top: 19%;
    left: 50px;
    position: absolute;
}

.formContainer>input {
    padding: 4% 5%;
    background: #FFFFFF;
    border: 1px solid #E9EEF2;
    box-sizing: border-box;
    border-radius: 6px;
    width: 500px;
    height: 54px;
    margin: 1.4% 0;
}

.formContainer>input:focus {
    outline: none;
  
}

.formContainer>button {
    width: 17%;
    height: 40px;
    border-radius: 8px;
    border: none;
    font-size: 1.1rem;
    font-weight: 600;
    margin: 1.4% 0;

}